

*,
body{   margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;}

body {background-color: rgb(235, 229, 229);}

ul {list-style: none;}

main {  margin: 1rem;
        display: grid;
        grid-template-columns: 33% 1fr;
        grid-gap: 1rem;
        filter: drop-shadow(0 0 0.4rem black);}

.left{ background: linear-gradient(black, white);
       border-style: double;
       padding: 1rem;
       color: azure;}
       

.left-image h2{
        position: relative;
        bottom: 0;
        left: 1rem;}
        


.datos-personales{line-height: 2rem;}

.left-image img {
                    max-width: 100%; height:auto;
                    position: relative;
                    border-radius: 5rem;}
                    

.año {
    background-color: chartreuse;
    color: white;
    border-radius: 0.5cm;}

.estudios,.educacion {
    line-height: 2rem;
    padding: 2rem;}
        
.estudios ul{margin: 2rem 0;}

.date{color: rgb(248, 252, 248);}

.educacion ul{  margin: 2rem 0;
                background-color: white;}


.right .Aptitudes {
        text-align: center;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}


.right, .estudios, .formacion .date{background-color: transparent;  border-style: ridge; }
.right .estudios .formacion {color:red;}
.right .estudios .date{color: rgb(247, 244, 244);}
.right .Aptitudes { text-align: center;
                    color: blue;
                    font-size: x-large;}



.right .lorem{
        text-align: justify;
        padding: 1rem;
        margin: 1rem 0;
        color: darkslateblue;}

button{ 
        background: rgb(143, 240, 98);
        color: white;
        padding: 0.6rem;
        margin-top: 20px;
        border: none;
        border-radius: 4px; 
          
       
}

button:hover {
        cursor: pointer;
        background: black;
}
           


.pie { background-color: black;
       padding: 2rem 0;
       text-align: center;
       color: white;
       line-height: 1.5;}




